<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'All Posts' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="all-posts">
    <h1>All Posts</h1>
    <% if(!posts || posts.length === 0 ) { %>
      <p>등록된 내용이없습니다. 작성하러가실래요?</p>
      <a class ="btn" href="/new-post">포스트 작성</a>
    <% } else { %>
      <ol id="posts-list">
        <% for (const post of posts) { %>
          <li>
            <%- include('includes/post-item' ,{post: post}) %>
          </li>  
        <% } %>
      </ol>
    <% } %>
  </main> 
</body>

</html>